<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="Description" content="Segun Store, Type: Online merchant, Category: lorem">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../assets/stylesheet/app.css">

	<!-- Fontawesome Icons -->
	<link href="../assets/fonts/font-awesome.5.1/css/fontawesome.min.css" rel="stylesheet"/>
	<link href="../assets/fonts/font-awesome.5.1/css/all.css" rel="stylesheet"/>

	<title>Web</title>
</head>
<body>

<nav class="sr-nav sr-with-banner">
	<div class="sr-nav__container">
		<div class="container">
			<div class="sr-nav__logo">
				<a href="../index.html" style="height: 27px;">
					<img src="../assets/images/svg/ayonative_logo.svg" alt="logo"/>
				</a>
			</div>
			<ul class="sr-nav__links">
				<li><a href="../index.html">Home</a></li>
				<li><a href="sr-category.html">Category</a></li>
				<li><a href="sr-store.html">Store</a></li>
				<li><a href="sr-about.html">About</a></li>
			</ul>
			<ul class="sr-nav__cart">
				<li class="sr--nav__search">
					<form class="search" method="post" action="#0">
						<input type="search" name="q" placeholder="Search..." autocomplete="off">
						<ul class="search-ac">
							<li><a href="#0">Search Result #1Search Result #1Search Result #1</a></li>
							<li><a href="#0">Search Result #2</a></li>
							<li><a href="#0">Search Result #3</a></li>
							<li><a href="#0">Search Result #4</a></li>
						</ul>
					</form>
				</li>
				<li onclick="location.href='sr-cart.html';" style="cursor: pointer;">
					<span class="sr-nav__cart__cart"><i class="fa fa-shopping-cart"></i></span>
					<span>(2)</span>
				</li>
			</ul>
		</div>
	</div>
</nav>

<nav class="sr-nav--mobile">
	<a href="../index.html" class="sr-nav--mobile__link">
		<img src="../assets/images/svg/ayonative_logo.svg" alt="logo"/>
	</a>

	<div class="d-flex align-items-center">
		<ul class="sr-nav__cart" style="margin-right: 4rem;">
			<li onclick="location.href='views/sr-cart.html';" style="cursor: pointer;">
				<span class="sr-nav__cart__cart"><i class="fa fa-shopping-cart"></i></span>
				<span>(2)</span>
			</li>
		</ul>
		<div class="sr-nav--mobile__burger">
			<div id="menu-reveal">
				<div id="sr-sideNav--mobile__icon" class="">
					<span class=""></span>
					<span class=""></span>
					<span class=""></span>
					<span class=""></span>
					<span class=""></span>
					<span class=""></span>
				</div>
			</div>
		</div>
	</div>
</nav>

<main id="sr-content" role="main">

	<!-- Side Nav -->
	<div id="sr-sideNav--mobile">
		<div class="sr-sideNav--mobile__wrapper">
			<ul class="sr-sideNav--mobile__ul">
				<li class="sr--nav__search">
					<form class="search" method="post" action="#0">
						<input type="search" name="q" placeholder="Search..." autocomplete="off">
						<ul class="search-ac">
							<li><a href="#0">Search Result #1Search Result #1Search Result #1</a></li>
							<li><a href="#0">Search Result #2</a></li>
							<li><a href="#0">Search Result #3</a></li>
							<li><a href="#0">Search Result #4</a></li>
						</ul>
					</form>
				</li>
				<li class="sr-sideNav--mobile__li"><a href="../index.html">Home</a></li>
				<li class="sr-sideNav--mobile__li"><a href="sr-category.html">Category</a></li>
				<li class="sr-sideNav--mobile__li"><a href="sr-store.html">Store</a></li>
				<li class="sr-sideNav--mobile__li"><a href="sr-about.html">About</a></li>
			</ul>
		</div>
	</div>

	<!-- Mobile Nav Mask -->
	<div id="sr-sideNav--mobile__mask"></div>

	<section class="sr-hero__split__about sr-hero__mainBg__about">
		<div class="container">
			<div class="row">
				<div class="col-md-6 sr-valign__middle__store"></div>
			</div>
		</div>
	</section>

	<!-- Lists -->
	<section class="sr-about__name">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>Ajose Shoes</h1>
					<div class="srDetails2">
						<div class="srRating">
							<div class="srRatingItem">
								<span><i class="fa fa-star srRatingIcon"></i> </span>
								<span><i class="fa fa-star srRatingIcon"></i> </span>
								<span><i class="fa fa-star srRatingIcon"></i> </span>
								<span><i class="fa fa-star srRatingEmpty"></i> </span>
								<span><i class="fa fa-star srRatingEmpty"></i> </span>
							</div>
							<div class="srRatingCount">(30)</div>
						</div>
						<div class="srRatingCount mt-2">102 Reviews</div>
					</div>
					<hr>
					<div class="d-block">
						<p class="font-weight-bold">Description</p>
						<p>Millions of Americans turn to Lasik Surgery when their vision is less than perfect and they’re tired of being tied down to wearing glasses or contacts. What part of the eye is it that may be causing all your vision trouble? Your cornea! When the shape of your cornea is irregular, the image on your retina is blurry and out-of-focus. The cornea is a part of your eye that works to focus light and projects an image on the retina. This focusing of light is called refraction. The 3 main types of refractive errors are myopia (nearsightedness), hyperopia (farsightedness) and astigmatism. If you are nearsighted, you have trouble seeing distant objects. If you are farsighted, you have trouble seeing things close up.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="card p-3">
						<div class="d-flex flex-wrap">
							<div class="pr-3">
								<i class="fa fa-phone fa-2x text-primary"></i>
							</div>
							<div class="">
								<p class="mb-0">Phone number</p>
								<p class="mb-0 font-weight-bold">+234 803 277 5014</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="card p-3">
						<div class="d-flex flex-wrap">
							<div class="pr-3">
								<i class="fa fa-envelope fa-2x text-primary"></i>
							</div>
							<div class="">
								<p class="mb-0">Email address</p>
								<p class="mb-0 font-weight-bold">info@yipcart.com</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="card p-3">
						<div class="d-flex flex-wrap">
							<div class="pr-3">
								<i class="fa fa-address-card fa-2x text-primary"></i>
							</div>
							<div class="">
								<p class="mb-0">Office address</p>
								<p class="mb-0 font-weight-bold">86 Orin Grove Apt. 561</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

<footer class="sr-footer">
	<div class="container">
		<div class="sr-footer__company">
			<div class="sr-footer__logo">
				<img src="../assets/images/svg/ayonative_logo__white.svg" alt="logo"/>
			</div>
			<div class="sr-footer__social">
				<ul class="list-unstyled d-flex flex-wrap">
					<li>
						<a href="#" target="_blank">
							<i class="fab fa-youtube"></i>
						</a>
					</li>

					<li>
						<a href="#" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
					</li>

					<li>
						<a href="#" target="_blank">
							<i class="fab fa-facebook-square"></i>
						</a>
					</li>

					<li>
						<a href="#" target="_blank">
							<i class="fab fa-twitter-square"></i>
						</a>
					</li>

					<li>
						<a href="#" target="_blank">
							<i class="fab fa-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sr-footer__links__container">
			<div class="sr-footer__links">
				<ul>
					<li><span class="sr-footer__title">Info</span></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
			</div>
			<div class="sr-footer__links">
				<ul>
					<li><span class="sr-footer__title">Category</span></li>
					<li><a href="#">Wrist Watch</a></li>
					<li><a href="#">Suit</a></li>
					<li><a href="#">Accessories</a></li>
					<li><a href="#">Shoes</a></li>
					<li><a href="#">Bags</a></li>
					<li><a href="#">Cloth Material</a></li>
					<li><a href="#">Wigs</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<div class="sr-footer__legal">
	<div class="container">
		<div class="sr-footer__container">
			<!--<span class="copyright">Powered by Salesreg.</span>-->
			<a href="#">Privacy Policy</a>
			<a href="#">Terms &amp; Conditions</a>
		</div>
	</div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../assets/javascript/jquery-3.3.1.min.js"></script>
<script src="../assets/javascript/popper.min.js"></script>
<script src="../assets/javascript/bootstrap.min.js"></script>

<script>
    (function($) {
        $(document).ready(function() {
            var $menuRevealBtn = $('#menu-reveal');
            var $sideNav = $('#sr-sideNav--mobile');
            var $sideNavMask = $('#sr-sideNav--mobile__mask');

            $menuRevealBtn.on('click', function() {
                $sideNav.addClass('visible');
                $sideNavMask.addClass('visible');
            });

            $sideNavMask.on('click', function() {
                $sideNav.removeClass('visible');
                $sideNavMask.removeClass('visible');
            });
        });
    })(jQuery)
</script>
</body>
</html>