<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="Description" content="Segun Store, Type: Online merchant, Category: lorem">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../assets/stylesheet/app.css">

	<!-- Fontawesome Icons -->
	<link href="../assets/fonts/font-awesome.5.1/css/fontawesome.min.css" rel="stylesheet"/>
	<link href="../assets/fonts/font-awesome.5.1/css/all.css" rel="stylesheet"/>

	<title>Checkout</title>
</head>
<body>

<main>

	<nav class="sr-nav sr-with-banner">
		<div class="sr-nav__container">
			<div class="container">
				<div class="sr-nav__logo">
					<a href="../index.html" style="height: 27px;">
						<img src="../assets/images/svg/ayonative_logo.svg" alt="logo"/>
					</a>
				</div>
				<ul class="sr-nav__links">
					<li><a href="../index.html">Home</a></li>
					<li><a href="sr-category.html">Category</a></li>
					<li><a href="sr-store.html">Store</a></li>
					<li><a href="sr-about.html">About</a></li>
				</ul>
				<ul class="sr-nav__cart">
					<li onclick="location.href='sr-cart.html';" style="cursor: pointer;">
						<span class="sr-nav__cart__cart"><i class="fa fa-shopping-cart"></i></span>
						<span>(2)</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<nav class="sr-nav--mobile">
		<a href="../index.html" class="sr-nav--mobile__link">
			<img src="../assets/images/svg/ayonative_logo.svg" alt="logo"/>
		</a>

		<div class="d-flex align-items-center">
			<ul class="sr-nav__cart" style="margin-right: 4rem;">
				<li onclick="location.href='views/sr-cart.html';" style="cursor: pointer;">
					<span class="sr-nav__cart__cart"><i class="fa fa-shopping-cart"></i></span>
					<span>(2)</span>
				</li>
			</ul>
			<div class="sr-nav--mobile__burger">
				<div id="menu-reveal">
					<div id="sr-sideNav--mobile__icon" class="">
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<main id="sr-content" role="main">

		<!-- Side Nav -->
		<div id="sr-sideNav--mobile">
			<div class="sr-sideNav--mobile__wrapper">
				<ul class="sr-sideNav--mobile__ul">
					<li class="sr-sideNav--mobile__li"><a href="../index.html">Home</a></li>
					<li class="sr-sideNav--mobile__li"><a href="sr-category.html">Category</a></li>
					<li class="sr-sideNav--mobile__li"><a href="sr-store.html">Store</a></li>
					<li class="sr-sideNav--mobile__li"><a href="sr-about.html">About</a></li>
				</ul>
			</div>
		</div>

		<!-- Mobile Nav Mask -->
		<div id="sr-sideNav--mobile__mask"></div>

		<!-- Checkout Post -->
		<section class="sr-checkout__detail">
			<div class="container">
				<pre class="sr-sectionTitle" style="top:0; margin-left:0;">Checkout</pre>
				<div class="row">
					<div class="col-md-8">

						<div class="sr-breadCrumb__wizard">
							<span>Cart</span><span>Customer information</span><span class="active">Payment method</span>
						</div>

						<div class="sr-checkout__contentMain">
							<form class="sr-checkout__formContent">
								<div class="sr-checkout__customerInfo">

									<div class="sr-formGroup">
										<div class="sr-button__icon">
											<button onclick="location.href='sr-checkout.html'"><span class="font-weight-bold mr-4" style="font-size: 1.4em">f</span><span>Login with facebook</span></button>
										</div>
									</div>

									<hr />

									<div class="row">
										<div class="col-12">
											<div class="my-2">
												<h4 class="mb-4">or enter details</h4>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="sr-formGroup">
												<div class="sr-labelled__labelWrapper">
													<div class="sr-label"><label id="221" for="TextField221" class="sr-label__text">First name</label></div>
												</div>
												<div class="sr-textField"><input id="TextField221" placeholder="Segun" class="sr-textField__input" aria-label="Store name" value="">
													<div class="sr-textField__backDrop"></div>
												</div>
											</div>
										</div>

										<div class="col-lg-6">
											<div class="sr-formGroup">
												<div class="sr-labelled__labelWrapper">
													<div class="sr-label"><label id="2211" for="TextField2211" class="sr-label__text">Last name</label></div>
												</div>
												<div class="sr-textField"><input id="TextField2211" placeholder="Oroyo" class="sr-textField__input" aria-label="Store name" value="">
													<div class="sr-textField__backDrop"></div>
												</div>
											</div>
										</div>

										<div class="col-12">
											<div class="sr-formGroup">
												<div class="sr-labelled__labelWrapper">
													<div class="sr-label"><label id="01" for="TextField01" class="sr-label__text">Address</label></div>
												</div>
												<div class="sr-textField"><input id="TextField01" placeholder="Adekunle Amaka" class="sr-textField__input" aria-label="Store name" value="">
													<div class="sr-textField__backDrop"></div>
												</div>
											</div>
										</div>

										<div class="col-lg-4">
											<div class="sr-formGroup">
												<div class="sr-labelled__labelWrapper">
													<div class="sr-label"><label id="011" for="TextField011" class="sr-label__text">City</label></div>
												</div>
												<div class="sr-textField"><input id="TextField011" placeholder="Gbagada" class="sr-textField__input" aria-label="Store name" value="">
													<div class="sr-textField__backDrop"></div>
												</div>
											</div>
										</div>

										<div class="col-lg-4">
											<div class="sr-formGroup">
												<div class="sr-labelled__labelWrapper">
													<div class="sr-label"><label id="0111" for="TextField0111" class="sr-label__text">State</label></div>
												</div>
												<div class="sr-textField"><input id="TextField0111" placeholder="Lagos" class="sr-textField__input" aria-label="Store name" value="">
													<div class="sr-textField__backDrop"></div>
												</div>
											</div>
										</div>

										<div class="col-lg-4">
											<div class="mb-3">
												<div class="sr-labelled__labelWrapper">
													<div class="sr-label">
														<label id="Select20Label" for="Select20" class="sr-label__text">Country</label>
													</div>
												</div>
												<div class="sr-select">
													<select id="Select20" class="sr-select__input" aria-invalid="false">
														<option>Afghanistan</option>
														<option>Algeria</option>
														<option>Nigeria</option>
													</select>
													<div class="sr-select__content" aria-hidden="true">
														<span class="sr-select__selectedOption">Choose</span>
														<span class="sr-select__icon">
															<span class="sr-icon">
																<svg class="sr-icon__svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd">
																</path>
																</svg>
															</span>
														</span>
													</div>
													<div class="sr-select__backdrop"></div>
												</div>
											</div>
										</div>
									</div>

								</div>

								<div class="sr-checkout__paymentMethod d-none">
									<div class="sr-formGroup">
										<div class="sr-labelled__labelWrapper">
											<div class="sr-label"><label id="11" for="TextField11" class="sr-label__text">Card number</label></div>
										</div>
										<div class="sr-textField"><input id="TextField11" placeholder="**** **** **** ****" class="sr-textField__input" aria-label="Store name" value="">
											<div class="sr-textField__backDrop"></div>
										</div>
									</div>

									<div class="sr-formGroup">
										<div class="row">
											<div class="col-lg-6">
												<div class="sr-labelled__labelWrapper">
													<div class="sr-label"><label id="22" for="TextField22" class="sr-label__text">Card Holder</label></div>
												</div>
												<div class="sr-textField"><input id="TextField22" placeholder="Adekunle Amaka" class="sr-textField__input" aria-label="Store name" value="">
													<div class="sr-textField__backDrop"></div>
												</div>
											</div>
											<div class="col-lg-3">
												<div class="sr-labelled__labelWrapper">
													<div class="sr-label"><label id="23" for="TextField22" class="sr-label__text">Exp. Date</label></div>
												</div>
												<div class="sr-textField"><input id="TextField23" placeholder="mm / yr" class="sr-textField__input" aria-label="Store name" value="">
													<div class="sr-textField__backDrop"></div>
												</div>
											</div>
											<div class="col-lg-3">
												<div class="sr-labelled__labelWrapper">
													<div class="sr-label"><label id="24" for="TextField22" class="sr-label__text">CVV</label></div>
												</div>
												<div class="sr-textField"><input id="TextField24" placeholder="***" class="sr-textField__input" aria-label="Store name" value="">
													<div class="sr-textField__backDrop"></div>
												</div>
											</div>
										</div>
									</div>

									<div class="sr-formGroup">
										<button onclick="location.href='../view/sr-checkout-complete.html';" style="cursor: pointer" class="sr-button">Complete order</button>
									</div>
								</div>
							</form>

							<div class="sr-checkout__baseInfo">
								<div class="row">
									<div class="col-lg-6">
										<img src="../assets/images/svg/lock.svg" style="width: 1.5rem; margin-bottom: .5rem" alt="logo"/>
										<span class="sr-title__primary">Your information is safe</span>
										<p class="sr-text__primary">We will not sell or rent your personal information for any marketing purposes whatsoever.</p>
									</div>

									<div class="col-lg-6">
										<img src="../assets/images/svg/shield.svg" style="width: 1.5rem; margin-bottom: .5rem" alt="logo"/>
										<span class="sr-title__primary">Secured checkout</span>
										<p class="sr-text__primary">All information is encrypted and transmitted with risk using a Secure Socket Layer protocol. You can trust us!</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="sr-product__contentSticky">
							<div class="sr-cart__overview">

								<div class="sr-cart__overviewTerms">
									<div>
										<img src="/" alt="illustration"/>
									</div>
									<p>By placing your order, you agree to the <a href="#">Delivery Terms</a> </p>
								</div>

								<ul class="sr-cart__overviewPrices">
									<li class="sr-cart__overviewPriceItems">
										<span>Subtotal</span>
										<span>$9,598.72</span>
									</li>

									<li class="sr-cart__overviewPriceItems">
										<span>Tax</span>
										<span>$0.00</span>
									</li>
								</ul>

								<div class="sr-cart__overviewPriceTotal">
									<span>Total</span>
									<span>$9,598.72</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<div class="sr-footer__cart">
		<div class="container">
			<div class="sr-footer__container">
				<span class="copyright">Powered by Salesreg.</span>
				<a href="#">Privacy Policy</a>
				<a href="#">Terms &amp; Conditions</a>
			</div>
		</div>
	</div>

</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../assets/javascript/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="../assets/javascript/popper.min.js" crossorigin="anonymous"></script>
<script src="../assets/javascript/bootstrap.min.js" crossorigin="anonymous"></script>

<script>
    (function($) {
        $(document).ready(function() {
            var $menuRevealBtn = $('#menu-reveal');
            var $sideNav = $('#sr-sideNav--mobile');
            var $sideNavMask = $('#sr-sideNav--mobile__mask');

            $menuRevealBtn.on('click', function() {
                $sideNav.addClass('visible');
                $sideNavMask.addClass('visible');
            });

            $sideNavMask.on('click', function() {
                $sideNav.removeClass('visible');
                $sideNavMask.removeClass('visible');
            });
        });
    })(jQuery)
</script>
</body>
</html>