<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="Description" content="Segun Store, Type: Online merchant, Category: lorem">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../assets/stylesheet/app.css">

	<!-- Fontawesome Icons -->
	<link href="../assets/fonts/font-awesome.5.1/css/fontawesome.min.css" rel="stylesheet"/>
	<link href="../assets/fonts/font-awesome.5.1/css/all.css" rel="stylesheet"/>

	<title>Checkout</title>
</head>
<body>

	<nav class="sr-nav sr-with-banner">
		<div class="sr-nav__container">
			<div class="container">
				<div class="sr-nav__logo">
					<a href="../index.html" style="height: 27px;">
						<img src="../assets/images/svg/ayonative_logo.svg" alt="logo"/>
					</a>
				</div>
				<ul class="sr-nav__links">
					<li><a href="../index.html">Home</a></li>
					<li><a href="sr-category.html">Category</a></li>
					<li><a href="sr-store.html">Store</a></li>
					<li><a href="sr-about.html">About</a></li>
				</ul>
				<ul class="sr-nav__cart">
					<li onclick="location.href='sr-cart.html';" style="cursor: pointer;">
						<span class="sr-nav__cart__cart"><i class="fa fa-shopping-cart"></i></span>
						<span>(2)</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<nav class="sr-nav--mobile">
		<a href="../index.html" class="sr-nav--mobile__link">
			<img src="../assets/images/svg/ayonative_logo.svg" alt="logo"/>
		</a>

		<div class="d-flex align-items-center">
			<ul class="sr-nav__cart" style="margin-right: 4rem;">
				<li onclick="location.href='views/sr-cart.html';" style="cursor: pointer;">
					<span class="sr-nav__cart__cart"><i class="fa fa-shopping-cart"></i></span>
					<span>(2)</span>
				</li>
			</ul>
			<div class="sr-nav--mobile__burger">
				<div id="menu-reveal">
					<div id="sr-sideNav--mobile__icon" class="">
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<main id="sr-content" role="main">

		<!-- Side Nav -->
		<div id="sr-sideNav--mobile">
			<div class="sr-sideNav--mobile__wrapper">
				<ul class="sr-sideNav--mobile__ul">
					<li class="sr-sideNav--mobile__li"><a href="../index.html">Home</a></li>
					<li class="sr-sideNav--mobile__li"><a href="sr-category.html">Category</a></li>
					<li class="sr-sideNav--mobile__li"><a href="sr-store.html">Store</a></li>
					<li class="sr-sideNav--mobile__li"><a href="sr-about.html">About</a></li>
				</ul>
			</div>
		</div>

		<!-- Mobile Nav Mask -->
		<div id="sr-sideNav--mobile__mask"></div>

	<!-- Featured Post -->
	<section class="sr-checkout__detail">
		<div class="container">
			<pre class="sr-sectionTitle" style="top:0; margin-left:0;">Complete</pre>
			<div class="row">
				<div class="col-md-12">

					<div class="sr-breadCrumb__wizard">
						<span>Cart</span><span>Customer information</span><span>Payment method</span><span class="active">Completed</span>
					</div>

					<div class="sr-checkout__completed">
						<div class="row">
							<div class="col-12">
								<div class="sr-checkout__completedWrapper">
									<img src="../assets/images/svg/check-circle.svg" style="width: 6rem; margin-bottom: 3rem" alt="icon check circle"/>
									<span class="sr-title__primary">Purchase Completed!</span>
									<p class="sr-text__primary">Lorem ipsum dolor amet connecteur mon pere. Le mammi pappi je suis deux mille et carte.<a href="#">Download receipt</a> </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

	<footer class="sr-footer">
		<div class="container">
			<div class="sr-footer__company">
				<div class="sr-footer__logo">
					<img src="../assets/images/svg/ayonative_logo__white.svg" alt="image"/>
				</div>
				<div class="sr-footer__social">
					<ul class="list-unstyled d-flex flex-wrap">
						<li>
							<a href="#" target="_blank">
								<i class="fab fa-youtube"></i>
							</a>
						</li>

						<li>
							<a href="#" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>
						</li>

						<li>
							<a href="#" target="_blank">
								<i class="fab fa-facebook-square"></i>
							</a>
						</li>

						<li>
							<a href="#" target="_blank">
								<i class="fab fa-twitter-square"></i>
							</a>
						</li>

						<li>
							<a href="#" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="sr-footer__links__container">
				<div class="sr-footer__links">
					<ul>
						<li><span class="sr-footer__title">Info</span></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Privacy</a></li>
					</ul>
				</div>
				<div class="sr-footer__links">
					<ul>
						<li><span class="sr-footer__title">Category</span></li>
						<li><a href="#">Wrist Watch</a></li>
						<li><a href="#">Suit</a></li>
						<li><a href="#">Accessories</a></li>
						<li><a href="#">Shoes</a></li>
						<li><a href="#">Bags</a></li>
						<li><a href="#">Cloth Material</a></li>
						<li><a href="#">Wigs</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

<div class="sr-footer__legal">
	<div class="container">
		<div class="sr-footer__container">
			<!--<span class="copyright">Powered by Salesreg.</span>-->
			<a href="#">Privacy Policy</a>
			<a href="#">Terms &amp; Conditions</a>
		</div>
	</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="../assets/javascript/jquery-3.3.1.min.js"></script>
	<script src="../assets/javascript/popper.min.js"></script>
	<script src="../assets/javascript/bootstrap.min.js"></script>

	<script>
      (function($) {
          $(document).ready(function() {
              var $menuRevealBtn = $('#menu-reveal');
              var $sideNav = $('#sr-sideNav--mobile');
              var $sideNavMask = $('#sr-sideNav--mobile__mask');

              $menuRevealBtn.on('click', function() {
                  $sideNav.addClass('visible');
                  $sideNavMask.addClass('visible');
              });

              $sideNavMask.on('click', function() {
                  $sideNav.removeClass('visible');
                  $sideNavMask.removeClass('visible');
              });
          });
      })(jQuery)
	</script>
</body>
</html>