<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="Description" content="Segun Store, Type: Online merchant, Category: lorem">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../assets/stylesheet/app.css">

	<!-- Fontawesome Icons -->
	<link href="../assets/fonts/font-awesome.5.1/css/fontawesome.min.css" rel="stylesheet"/>
	<link href="../assets/fonts/font-awesome.5.1/css/all.css" rel="stylesheet"/>

	<title>Web</title>
</head>
<body>

	<nav class="sr-nav sr-with-banner">
		<div class="sr-nav__container">
			<div class="container">
				<div class="sr-nav__logo">
					<a href="../index.html" style="height: 27px;">
						<img src="../assets/images/svg/ayonative_logo.svg" alt="logo"/>
					</a>
				</div>
				<ul class="sr-nav__links">
					<li><a href="../index.html">Home</a></li>
					<li><a href="sr-category.html">Category</a></li>
					<li><a href="sr-store.html">Store</a></li>
					<li><a href="sr-about.html">About</a></li>
				</ul>
				<ul class="sr-nav__cart">
					<li class="sr--nav__search">
						<form class="search" method="post" action="#0">
							<input type="search" name="q" placeholder="Search..." autocomplete="off">
							<ul class="search-ac">
								<li><a href="#0">Search Result #1Search Result #1Search Result #1</a></li>
								<li><a href="#0">Search Result #2</a></li>
								<li><a href="#0">Search Result #3</a></li>
								<li><a href="#0">Search Result #4</a></li>
							</ul>
						</form>
					</li>
					<li onclick="location.href='sr-cart.html';" style="cursor: pointer;">
						<span class="sr-nav__cart__cart"><i class="fa fa-shopping-cart"></i></span>
						<span>(2)</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<nav class="sr-nav--mobile">
		<a href="../index.html" class="sr-nav--mobile__link">
			<img src="../assets/images/svg/ayonative_logo.svg" alt="logo"/>
		</a>

		<div class="d-flex align-items-center">
			<ul class="sr-nav__cart" style="margin-right: 4rem;">
				<li onclick="location.href='views/sr-cart.html';" style="cursor: pointer;">
					<span class="sr-nav__cart__cart"><i class="fa fa-shopping-cart"></i></span>
					<span>(2)</span>
				</li>
			</ul>
			<div class="sr-nav--mobile__burger">
				<div id="menu-reveal">
					<div id="sr-sideNav--mobile__icon" class="">
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<main id="sr-content" role="main">

		<!-- Side Nav -->
		<div id="sr-sideNav--mobile">
			<div class="sr-sideNav--mobile__wrapper">
				<ul class="sr-sideNav--mobile__ul">
					<li class="sr--nav__search">
						<form class="search" method="post" action="#0">
							<input type="search" name="q" placeholder="Search..." autocomplete="off">
							<ul class="search-ac">
								<li><a href="#0">Search Result #1Search Result #1Search Result #1</a></li>
								<li><a href="#0">Search Result #2</a></li>
								<li><a href="#0">Search Result #3</a></li>
								<li><a href="#0">Search Result #4</a></li>
							</ul>
						</form>
					</li>
					<li class="sr-sideNav--mobile__li"><a href="../index.html">Home</a></li>
					<li class="sr-sideNav--mobile__li"><a href="sr-category.html">Category</a></li>
					<li class="sr-sideNav--mobile__li"><a href="sr-store.html">Store</a></li>
					<li class="sr-sideNav--mobile__li"><a href="sr-about.html">About</a></li>
				</ul>
			</div>
		</div>

		<!-- Mobile Nav Mask -->
		<div id="sr-sideNav--mobile__mask"></div>

		<section class="sr-store">
			<div class="container">
				<div class="row">
					<div class="col-12 sr-valign__middle__store">
						<pre class="sr-sectionTitle" style="top:0; margin-left:0;">Store</pre>
						<div class="d-block">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb bg-white p-0">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item"><a href="#">Men</a></li>
									<li class="breadcrumb-item active" aria-current="page">Shoes</li>
								</ol>
							</nav>
						</div>
						<div class="d-flex align-items-center justify-content-between w-100 border-top border-bottom mb-3">
							<div class="d-inline-block">
								<h1 class="sr-font--h1__secondary d-inline-flex">All products</h1>
								<span>(345)</span>
							</div>

							<div class="d-inline-block">
								<div class="dropdown">
									<button class="btn btn-outline-dark dropdown-toggle rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Sort product by
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item" href="#">Most popular</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Highest price</a>
										<a class="dropdown-item" href="#">Lowest price</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Best rating</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Lists -->
		<section class="sr-featured-post__home pt-0">
			<div class="container">
				<div class="row">

					<div class="col-md-3">
						<div><h3>Refine Search</h3></div>
						<div class="sr-store__filter">
							<form>
								<div class="btn-group btn-group-toggle w-100 d-none" data-toggle="buttons">
									<label class="btn btn-primary active">
										<input type="radio" name="options" id="option1" autocomplete="off" checked> Products
									</label>
									<label class="btn btn-primary">
										<input type="radio" name="options" id="option2" autocomplete="off"> Services
									</label>
								</div>

								<div class="sr-filter-item">


									<div class="half">

										<div class="tab">
											<input id="tab-cat" type="checkbox" name="tabs">
											<label for="tab-cat">Browse Categories</label>
											<div class="tab-content">
												<div class="sr-form-check">
													<ul>
														<li class="">
															<a class="sr-anchor" href="#">Shoes</a>
														</li>
														<li class="">
															<a class="sr-anchor" href="#">Bags</a>
														</li>
														<li class="">
															<a class="sr-anchor" href="#">Watches</a>
														</li>
														<li class="">
															<a class="sr-anchor" href="#">Belts</a>
														</li>
													</ul>
												</div>
											</div>
										</div>

										<div class="tab">
											<input id="tab-one" type="checkbox" name="tabs">
											<label for="tab-one">Price</label>
											<div class="tab-content">
												<div class="sr-form-check">
													<ul>
														<li class="">
															<a class="sr-anchor" href="#">
																<input type="radio" value="">
																<label>
																	<span>Under ₦2000</span>
																</label>
															</a>
														</li>
														<li class="">
															<a class="sr-anchor" href="#">
																<input type="radio" value="">
																<label>
																	<span>₦2000 - ₦5000</span>
																</label>
															</a>
														</li>
														<li class="">
															<a class="sr-anchor" href="#">
																<input type="radio" value="">
																<label>
																	<span>₦5000 - ₦10000</span>
																</label>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>

										<div class="tab">
											<input id="tab-two" type="checkbox" name="tabs">
											<label for="tab-two">Size</label>
											<div class="tab-content">
												<div class="sr-form-check">
													<div>
														<div class="sr-form-size">
															<header>General Sizes</header>
															<div class="sr-form-size-item">
																<div class="sr-form-size-ul">
																	<div class="">
																		<a class="" href="#"><span>M</span></a>
																	</div>
																	<div class="">
																		<a class="" href="#"><span>XL</span></a>
																	</div>
																	<div class="">
																		<a class="" href="#"><span>L</span></a>
																	</div>
																	<div class="">
																		<a class="" href="#"><span>M/L</span></a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="tab">
											<input id="tab-three" type="checkbox" name="tabs">
											<label for="tab-three">Color</label>
											<div class="tab-content">
												<div class="sr-form-check">
													<form class="sr-filter-color">
														<div class="sr-filter-color-el checked">
															<div class="sr-filter-color-link">
																<i class="osh-font-checkbox-check -checkbox-toggle"></i>
																<input type="checkbox" name="color_family[Silver]" value="Silver" checked="">
																<span class="cnv-name"> Silver </span>
																<span class="cnv-items">(20)</span>
															</div>
														</div>

														<div class="sr-filter-color-el">
															<div class="sr-filter-color-link">
																<i class="osh-font-checkbox-check -checkbox-toggle"></i>
																<input type="checkbox" name="color_family[Gold]" value="Gold">
																<span class="cnv-name"> Gold </span>
																<span class="cnv-items">(10)</span>
															</div>
														</div>

														<div class="sr-filter-color-el">
															<div class="sr-filter-color-link">
																<i class="osh-font-checkbox-check -checkbox-toggle"></i>
																<input type="checkbox" name="color_family[Brown]" value="Brown">
																<span class="cnv-name"> Brown </span>
																<span class="cnv-items">(2)</span>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="col-md-9">
						<div class="sr1">

							<!-- Empty List -->
							<div style="padding: 4rem 2rem 3rem" class="d-none">
								<div class="text-center">
									<div style="max-width: 15rem; margin: 0 auto; padding-bottom: 3rem">
										<img src="../../yc-template-1/assets/images/svg/empty-store-page.svg" style="width: 100%"/>
									</div>
									<h3>Store is empty</h3>
									<p>Please check back later...</p>
								</div>
							</div>
							<!-- Empty List Ends-->

							<!-- Loader List -->

							<!-- Loader List Ends-->

							<ul itemscope itemtype="http://schema.org/BreadcrumbList" class="list-unstyled">
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li itemprop="itemListElement" itemscope
								    itemtype="http://schema.org/ListItem">
									<div class="srTitle2">
										<a class="srFeedLink2" href="../views/sr-product-detail.html" itemprop="url">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1" itemprop="image"/>
												<div class="srShare2">
													<span><i class="fab fa-facebook-f"></i> </span>
													<span><i class="fab fa-twitter"></i> </span>
													<span><i class="fab fa-instagram"></i> </span>
												</div>
											</div>
										</a>
										<div class="srPostMeta2">
											<a href="../views/sr-product-detail.html" class="srPostInfo2">
												<h3 class="srProductTitle" itemprop="name">Testing for muzil style of grid listing to know which to choose from at the end</h3>
												<h3 class="srProductPrice" itemprop="productPrice">$20.99</h3>
											</a>

											<div class="srDetails2" itemprop="aggregateRating"
											     itemscope itemtype="http://schema.org/AggregateRating">
												<div class="srRating">
													<div class="srRatingItem">
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingIcon"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
														<span itemprop="ratingValue"><i class="fa fa-star srRatingEmpty"></i> </span>
													</div>
													<div class="srRatingCount" itemprop="reviewCount">(30)</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

						<div class="py-4 d-flex justify-content-center">
							<nav aria-label="...">
								<ul class="pagination">
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1">Previous</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active">
										<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
									</li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item">
										<a class="page-link" href="#">Next</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<!-- Footer Links -->
	<footer class="sr-footer">
		<div class="container">
			<div class="sr-footer__company">
				<div class="sr-footer__logo">
					<img src="../assets/images/svg/ayonative_logo__white.svg" alt="image"/>
				</div>
				<div class="sr-footer__social">
					<ul class="list-unstyled d-flex flex-wrap">
						<li>
							<a href="#" target="_blank">
								<i class="fab fa-youtube"></i>
							</a>
						</li>

						<li>
							<a href="#" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>
						</li>

						<li>
							<a href="#" target="_blank">
								<i class="fab fa-facebook-square"></i>
							</a>
						</li>

						<li>
							<a href="#" target="_blank">
								<i class="fab fa-twitter-square"></i>
							</a>
						</li>

						<li>
							<a href="#" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="sr-footer__links__container">
				<div class="sr-footer__links">
					<ul>
						<li><span class="sr-footer__title">Info</span></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Privacy</a></li>
					</ul>
				</div>
				<div class="sr-footer__links">
					<ul>
						<li><span class="sr-footer__title">Category</span></li>
						<li><a href="#">Wrist Watch</a></li>
						<li><a href="#">Suit</a></li>
						<li><a href="#">Accessories</a></li>
						<li><a href="#">Shoes</a></li>
						<li><a href="#">Bags</a></li>
						<li><a href="#">Cloth Material</a></li>
						<li><a href="#">Wigs</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- Footer Legal -->
	<div class="sr-footer__legal">
		<div class="container">
			<div class="sr-footer__container">
				<!--<span class="copyright">Powered by Salesreg.</span>-->
				<a href="#">Privacy Policy</a>
				<a href="#">Terms &amp; Conditions</a>
			</div>
		</div>
	</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="../assets/javascript/jquery-3.3.1.min.js"></script>
	<script src="../assets/javascript/popper.min.js"></script>
	<script src="../assets/javascript/bootstrap.min.js"></script>

<script>
    (function($) {
        $(document).ready(function() {
            var $menuRevealBtn = $('#menu-reveal');
            var $sideNav = $('#sr-sideNav--mobile');
            var $sideNavMask = $('#sr-sideNav--mobile__mask');

            $menuRevealBtn.on('click', function() {
                $sideNav.addClass('visible');
                $sideNavMask.addClass('visible');
            });

            $sideNavMask.on('click', function() {
                $sideNav.removeClass('visible');
                $sideNavMask.removeClass('visible');
            });
        });
    })(jQuery)
</script>
</body>
</html>