<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../assets/stylesheet/app.css">

	<!-- Fontawesome Icons -->
	<link href="../assets/fonts/font-awesome.5.1/css/fontawesome.min.css" rel="stylesheet"/>
	<link href="../assets/fonts/font-awesome.5.1/css/all.css" rel="stylesheet"/>

	<title>Cart Details</title>
</head>
<body>

	<nav class="sr-nav sr-with-banner">
	<div class="sr-nav__container">
		<div class="container">
			<div class="sr-nav__logo">
				<a href="#" style="height: 27px;">
					<img src="../assets/images/svg/ayonative_logo.svg" />
				</a>
			</div>
			<ul class="sr-nav__links">
				<a href="../index.html"><li>Home</li></a>
				<a href="sr-category.html"><li>Category</li></a>
				<a href="sr-store.html"><li>Store</li></a>
				<a href="sr-about.html"><li>About</li></a>
			</ul>
			<ul class="sr-nav__cart">
				<li onclick="location.href='sr-cart.html';" style="cursor: pointer;">
					<span class="sr-nav__cart__cart"><i class="fa fa-shopping-cart"></i></span>
					<span>(2)</span>
				</li>
			</ul>
		</div>
	</div>
</nav>

	<nav class="sr-nav--mobile">
		<a href="../index.html" class="sr-nav--mobile__link">
			<img src="../assets/images/svg/ayonative_logo.svg" />
		</a>

		<div class="d-flex align-items-center">
			<ul class="sr-nav__cart" style="margin-right: 4rem;">
				<li onclick="location.href='views/sr-cart.html';" style="cursor: pointer;">
					<span class="sr-nav__cart__cart"><i class="fa fa-shopping-cart"></i></span>
					<span>(2)</span>
				</li>
			</ul>
			<div class="sr-nav--mobile__burger">
				<div id="menu-reveal">
					<div id="sr-sideNav--mobile__icon" class="">
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
						<span class=""></span>
					</div>
				</div>
			</div>
		</div>
	</nav>

<main id="sr-content" role="main">

	<!-- Side Nav -->
	<div id="sr-sideNav--mobile">
		<div class="sr-sideNav--mobile__wrapper">
			<ul class="sr-sideNav--mobile__ul">
				<li class="sr-sideNav--mobile__li"><a href="../index.html">Home</a></li>
				<li class="sr-sideNav--mobile__li"><a href="sr-category.html">Category</a></li>
				<li class="sr-sideNav--mobile__li"><a href="sr-store.html">Store</a></li>
				<li class="sr-sideNav--mobile__li"><a href="sr-about.html">About</a></li>
			</ul>
		</div>
	</div>

	<!-- Mobile Nav Mask -->
	<div id="sr-sideNav--mobile__mask"></div>

	<!-- Cart -->
	<section class="sr-cart__detail">
		<div class="container">
			<pre class="sr-sectionTitle" style="top:0; margin-left:0;">Your Cart</pre>
			<div class="row">
				<div class="col-md-8">
					<div class="sr-cart__itemMenu">
						<span>2 Items</span>
						<a href="#" class="sr-cart__keepShoppingLink">continue shopping<i class="fa fa-arrow-right"></i> </a>
					</div>

					<div class="sr-product__contentMain">
						<ul class="sr-cart__listItem">
							<li>
								<div class="sr-cart__listContent">
									<div class="sr-cart__itemImage">
										<div class="srFeedLink2">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1"/>
											</div>
										</div>
									</div>
									<div class="sr-cart__itemBody">
										<span>Flying Apple Macbook Pro 2017 15 Inches</span>
										<span>Qty:<cite class="font-weight-normal">2</cite></span>
										<span>$2,253.99</span>
										<div class="sr-cart__itemButtons">
											<button>Edit</button>
											<button>Remove</button>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="sr-cart__listContent">
									<div class="sr-cart__itemImage">
										<div class="srFeedLink2">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1"/>
											</div>
										</div>
									</div>
									<div class="sr-cart__itemBody">
										<span>Flying Apple Macbook Pro 2017 15 Inches</span>
										<span>Qty:<cite class="font-weight-normal">2</cite></span>
										<span>$2,253.99</span>
										<div class="sr-cart__itemButtons">
											<button>Edit</button>
											<button>Remove</button>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="sr-cart__listContent">
									<div class="sr-cart__itemImage">
										<div class="srFeedLink2">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1"/>
											</div>
										</div>
									</div>
									<div class="sr-cart__itemBody">
										<span>Flying Apple Macbook Pro 2017 15 Inches</span>
										<span>Qty:<cite class="font-weight-normal">2</cite></span>
										<span>$2,253.99</span>
										<div class="sr-cart__itemButtons">
											<button>Edit</button>
											<button>Remove</button>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="sr-cart__listContent">
									<div class="sr-cart__itemImage">
										<div class="srFeedLink2">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1"/>
											</div>
										</div>
									</div>
									<div class="sr-cart__itemBody">
										<span>Flying Apple Macbook Pro 2017 15 Inches</span>
										<span>Qty:<cite class="font-weight-normal">2</cite></span>
										<span>$2,253.99</span>
										<div class="sr-cart__itemButtons">
											<button>Edit</button>
											<button>Remove</button>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="sr-cart__listContent">
									<div class="sr-cart__itemImage">
										<div class="srFeedLink2">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1"/>
											</div>
										</div>
									</div>
									<div class="sr-cart__itemBody">
										<span>Flying Apple Macbook Pro 2017 15 Inches</span>
										<span>Qty:<cite class="font-weight-normal">2</cite></span>
										<span>$2,253.99</span>
										<div class="sr-cart__itemButtons">
											<button>Edit</button>
											<button>Remove</button>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="sr-cart__listContent">
									<div class="sr-cart__itemImage">
										<div class="srFeedLink2">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1"/>
											</div>
										</div>
									</div>
									<div class="sr-cart__itemBody">
										<span>Flying Apple Macbook Pro 2017 15 Inches</span>
										<span>Qty:<cite class="font-weight-normal">2</cite></span>
										<span>$2,253.99</span>
										<div class="sr-cart__itemButtons">
											<button>Edit</button>
											<button>Remove</button>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="sr-cart__listContent">
									<div class="sr-cart__itemImage">
										<div class="srFeedLink2">
											<div class="srPostPhoto2">
												<img src="../assets/images/Model-with-bag.jpg" alt="testing image" style="opacity: 1"/>
											</div>
										</div>
									</div>
									<div class="sr-cart__itemBody">
										<span>Flying Apple Macbook Pro 2017 15 Inches</span>
										<span>Qty:<cite class="font-weight-normal">2</cite></span>
										<span>$2,253.99</span>
										<div class="sr-cart__itemButtons">
											<button>Edit</button>
											<button>Remove</button>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="sr-product__contentSticky">
						<div class="sr-cart__overview">

							<div class="sr-cart__overviewTerms">
								<div>
									<img src="/" />
								</div>
								<p>By placing your order, you agree to the <a href="#">Delivery Terms</a> </p>
							</div>

							<ul class="sr-cart__overviewPrices">
								<li class="sr-cart__overviewPriceItems">
									<span>Subtotal</span>
									<span>$9,598.72</span>
								</li>

								<li class="sr-cart__overviewPriceItems">
									<span>Tax</span>
									<span>$0.00</span>
								</li>
							</ul>

							<div class="sr-cart__overviewPriceTotal">
								<span>Total</span>
								<span>$9,598.72</span>
							</div>
						</div>

						<div class="sr-button__icon mt-3">
							<button class="w-100" onclick="location.href='sr-checkout.html'"><span>Checkout</span><span><i class="fa fa-arrow-right"></i> </span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

<div class="sr-footer__cart">
	<div class="container">
		<div class="sr-footer__container">
			<span class="copyright">Powered by Salesreg.</span>
			<a href="#">Privacy Policy</a>
			<a href="#">Terms &amp; Conditions</a>
		</div>
	</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../assets/javascript/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="../assets/javascript/popper.min.js" crossorigin="anonymous"></script>
<script src="../assets/javascript/bootstrap.min.js" crossorigin="anonymous"></script>

<script>
    (function($) {
        $(document).ready(function() {
            var $menuRevealBtn = $('#menu-reveal');
            var $sideNav = $('#sr-sideNav--mobile');
            var $sideNavMask = $('#sr-sideNav--mobile__mask');

            $menuRevealBtn.on('click', function() {
                $sideNav.addClass('visible');
                $sideNavMask.addClass('visible');
            });

            $sideNavMask.on('click', function() {
                $sideNav.removeClass('visible');
                $sideNavMask.removeClass('visible');
            });
        });
    })(jQuery)
</script>
</body>
</html>