<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../assets/stylesheet/app.css">

	<!-- Fontawesome Icons -->
	<link href="../assets/fonts/font-awesome.5.1/css/fontawesome.min.css" rel="stylesheet"/>
	<link href="../assets/fonts/font-awesome.5.1/css/all.css" rel="stylesheet"/>

	<title>Checkout</title>
</head>
<body>

<div>

	<header id="3">
		<div class="yp-main__header">
			<div class="container">
				<div class="yp-main__headerWrapper">
					<div class="yp-menu">
						<a href="#" class="menu-link">
			    <span class="menu-icon">
			      <span class="menu-line menu-line-1"></span>
			      <span class="menu-line menu-line-2"></span>
			      <span class="menu-line menu-line-3"></span>
			    </span>
						</a>
					</div>

					<div></div>

					<button>
						<i class="fa fa-shopping-cart"></i>
						<span>6 items</span>
					</button>
				</div>
			</div>
		</div>
	</header>

	<div class="yp-menu-overlay">
		<ul class="yp-main__sideNav-mobile__u">
			<li class="yp-main__sideNav-mobile__l">
				<a href="../index.html" class="yp-main__sideNav-mobile__a" aria-label="link name">Home</a>
			</li>

			<li class="yp-main__sideNav-mobile__l">
				<a href="category.html" class="yp-main__sideNav-mobile__a" aria-label="link name">Category</a>
			</li>

			<li class="yp-main__sideNav-mobile__l">
				<a href="store.html" class="yp-main__sideNav-mobile__a" aria-label="link name">Store</a>
			</li>

			<li class="yp-main__sideNav-mobile__l">
				<a href="about.html" class="yp-main__sideNav-mobile__a" aria-label="link name">About</a>
			</li>
		</ul>

		<div class="yp-main__mobileNav__social">
			<span class="yp-main__sideNav-mobile__socialItem">
				<a href="#" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</span>

			<span class="yp-main__sideNav-mobile__socialItem">
				<a href="#" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</span>

			<span class="yp-main__sideNav-mobile__socialItem">
				<a href="#" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</span>

			<span class="yp-main__sideNav-mobile__socialItem">
				<a href="#" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</span>
			<span class="yp-main__sideNav-mobile__socialItem">
				<a href="#" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</span>

		</div>
	</div>

	<aside id="1">
		<nav class="yp-main__sideNav">
			<div class="yp-main__sideNav-wrapper">
				<div class="yp-main__sideNav-scroll">
					<div class="yp-main__sideNav-brand">
						<img src="../assets/images/svg/paulajose_logo.svg" alt="business name logo" class="yp-main__brand-logo">
					</div>

					<div class="yp-main__sideNav-menu">
						<div class="yp-main__sideNav-menu__box">
							<ul class="yp-main__sideNav-u">
								<li class="yp-main__sideNav-l">
									<a href="../index.html" class="yp-main__sideNav-a" aria-label="link name">Home</a>
								</li>

								<li class="yp-main__sideNav-l">
									<a href="category.html" class="yp-main__sideNav-a" aria-label="link name">Category</a>
								</li>

								<li class="yp-main__sideNav-l">
									<a href="store.html" class="yp-main__sideNav-a" aria-label="link name">Store</a>
								</li>

								<li class="yp-main__sideNav-l">
									<a href="about.html" class="yp-main__sideNav-a" aria-label="link name">About</a>
								</li>

							</ul>
						</div>
					</div>
				</div>

				<div class="yp-main__sideNav-footer">
					<span>© Ajose 2018</span>
				</div>
			</div>
		</nav>
	</aside>

	<main id="2">
		<div class="yp-main__wrapper">
			<div class="container">

				<div class="row">
					<div class="col-12">

					</div>
				</div>
				<div class="row">

					<div class="col-lg-7">
						<div class="yp-cartLeft">
							<h4 class="mb-3">Cart Items</h4>
							<div class="yp-cartLeftWrapper">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="position-relative">
										<div class="d-block" aria-label="link to title of product">

											<div class="row">
												<div class="col-md-2 d-none d-lg-block">
													<div class="yp-image">
														<img src="../assets/images/Indigo0096.jpg" />
													</div>
												</div>

												<div class="col-lg-4 col-md-6">
													<div class="yp-cartItemDetails">
														<h4>Brazilian male shoe.</h4>
														<span class="d-block">Size: 45</span>
														<button class="btn">
															<span>Remove Item</span>
														</button>
													</div>
												</div>

												<div class="col-lg-3 col-md-3">
													<div class="yp-cartItemSize">
														<span class="d-block small mb-2">Quantity</span>
														<input type="number" />
													</div>
												</div>

												<div class="col-md-3">
													<div class="yp-cartItemPrice">
														<span class="d-block small">Price</span>
														<p>N23,433.00</p>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="yp-cartLeftWrapper">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="position-relative">
										<div class="d-block" aria-label="link to title of product">

											<div class="row">
												<div class="col-md-2 d-none d-lg-block">
													<div class="yp-image">
														<img src="../assets/images/Indigo0096.jpg" />
													</div>
												</div>

												<div class="col-lg-4 col-md-6">
													<div class="yp-cartItemDetails">
														<h4>Brazilian male shoe.</h4>
														<span class="d-block">Size: 45</span>
														<button class="btn">
															<span>Remove Item</span>
														</button>
													</div>
												</div>

												<div class="col-lg-3 col-md-3">
													<div class="yp-cartItemSize">
														<span class="d-block small mb-2">Quantity</span>
														<input type="number" />
													</div>
												</div>

												<div class="col-md-3">
													<div class="yp-cartItemPrice">
														<span class="d-block small">Price</span>
														<p>N23,433.00</p>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="yp-cartLeftWrapper">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="position-relative">
										<div class="d-block" aria-label="link to title of product">

											<div class="row">
												<div class="col-md-2 d-none d-lg-block">
													<div class="yp-image">
														<img src="../assets/images/Indigo0096.jpg" />
													</div>
												</div>

												<div class="col-lg-4 col-md-6">
													<div class="yp-cartItemDetails">
														<h4>Brazilian male shoe.</h4>
														<span class="d-block">Size: 45</span>
														<button class="btn">
															<span>Remove Item</span>
														</button>
													</div>
												</div>

												<div class="col-lg-3 col-md-3">
													<div class="yp-cartItemSize">
														<span class="d-block small mb-2">Quantity</span>
														<input type="number" />
													</div>
												</div>

												<div class="col-md-3">
													<div class="yp-cartItemPrice">
														<span class="d-block small">Price</span>
														<p>N23,433.00</p>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="yp-cartLeftWrapper">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="position-relative">
										<div class="d-block" aria-label="link to title of product">

											<div class="row">
												<div class="col-md-2 d-none d-lg-block">
													<div class="yp-image">
														<img src="../assets/images/Indigo0096.jpg" />
													</div>
												</div>

												<div class="col-lg-4 col-md-6">
													<div class="yp-cartItemDetails">
														<h4>Brazilian male shoe.</h4>
														<span class="d-block">Size: 45</span>
														<button class="btn">
															<span>Remove Item</span>
														</button>
													</div>
												</div>

												<div class="col-lg-3 col-md-3">
													<div class="yp-cartItemSize">
														<span class="d-block small mb-2">Quantity</span>
														<input type="number" />
													</div>
												</div>

												<div class="col-md-3">
													<div class="yp-cartItemPrice">
														<span class="d-block small">Price</span>
														<p>N23,433.00</p>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="yp-cartLeftWrapper">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="position-relative">
										<div class="d-block" aria-label="link to title of product">

											<div class="row">
												<div class="col-md-2 d-none d-lg-block">
													<div class="yp-image">
														<img src="../assets/images/Indigo0096.jpg" />
													</div>
												</div>

												<div class="col-lg-4 col-md-6">
													<div class="yp-cartItemDetails">
														<h4>Brazilian male shoe.</h4>
														<span class="d-block">Size: 45</span>
														<button class="btn">
															<span>Remove Item</span>
														</button>
													</div>
												</div>

												<div class="col-lg-3 col-md-3">
													<div class="yp-cartItemSize">
														<span class="d-block small mb-2">Quantity</span>
														<input type="number" />
													</div>
												</div>

												<div class="col-md-3">
													<div class="yp-cartItemPrice">
														<span class="d-block small">Price</span>
														<p>N23,433.00</p>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>

							<div class="yp-cartLeftUser">
								<h4 class="mb-3">User Details</h4>
								<form>
									<div class="row">
										<div class="col-12">
											<div class="yp-cartLeftUserForm">
												<label>Full name</label>
												<input class="yp-cartLeftUserInput"/>
											</div>
										</div>

										<div class="col-12">
											<div class="yp-cartLeftUserForm">
												<label>Email Address</label>
												<input class="yp-cartLeftUserInput" type="email" autocomplete=""/>
											</div>
										</div>

										<div class="col-12">
											<div class="yp-cartLeftUserForm">
												<label>Phone number</label>
												<input class="yp-cartLeftUserInput"/>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="ml-auto col-lg-4">
						<div class="yp-cartRight" aria-label="link to title of product">

							<div class="yp-cartSummary">
								<p>Summary</p>
								<div class="d-block mt-4">
									<div class="d-flex justify-content-between">
										<span class="text-muted mr-2">Subtotal</span>
										<span class="text-muted mr-2">N2,000</span>
									</div>
									<div class="d-flex justify-content-between">
										<span class="text-muted mr-2">Subtotal</span>
										<span class="text-muted mr-2">N2,000</span>
									</div>
								</div>
								<hr />
								<div class="d-block mt-4">
									<div class="d-flex justify-content-between">
										<span class="text-muted mr-2">Discount</span>
										<span class="text-muted mr-2">N500</span>
									</div>
									<div class="d-flex justify-content-between">
										<span class="text-muted mr-2">Tax</span>
										<span class="text-muted mr-2">0</span>
									</div>
								</div>

								<div class="d-block mt-2">
									<div class="d-flex justify-content-between font-weight-bold">
										<span class="text-muted mr-2">Discount</span>
										<span class="text-muted mr-2">N500</span>
									</div>
								</div>
								<div class="yp-cartCheckoutButton">
									<button class="btn yp-addToCartButton">
										<span>Checkout</span>
									</button>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</main>
</div>

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../assets/javascript/jquery-3.3.1.min.js"></script>
<script src="../assets/javascript/popper.min.js"></script>
<script src="../assets/javascript/bootstrap.min.js"></script>

<script>
    $(function() {

        $(".menu-link").click(function(e) {
            e.preventDefault();

            $(".yp-menu-overlay").toggleClass("open");
            $(".yp-menu").toggleClass("open");

        });

    });

    document.addEventListener("touchstart", function(){}, true);
</script>
</body>
</html>