<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../assets/stylesheet/app.css">

	<!-- Fontawesome Icons -->
	<link href="../assets/fonts/font-awesome.5.1/css/fontawesome.min.css" rel="stylesheet"/>
	<link href="../assets/fonts/font-awesome.5.1/css/all.css" rel="stylesheet"/>

	<title>Home</title>
</head>
<body>

<div>

	<header id="3">
		<div class="yp-main__header">
			<div class="container">
				<div class="yp-main__headerWrapper">
					<div class="yp-menu">
						<a href="#" class="menu-link">
			    <span class="menu-icon">
			      <span class="menu-line menu-line-1"></span>
			      <span class="menu-line menu-line-2"></span>
			      <span class="menu-line menu-line-3"></span>
			    </span>
						</a>
					</div>

					<div></div>

					<button>
						<i class="fa fa-shopping-cart"></i>
						<span>6 items</span>
					</button>
				</div>
			</div>
		</div>
	</header>

	<div class="yp-menu-overlay">
		<ul class="yp-main__sideNav-mobile__u">
			<li class="yp-main__sideNav-mobile__l">
				<a href="../index.html" class="yp-main__sideNav-mobile__a" aria-label="link name">Home</a>
			</li>

			<li class="yp-main__sideNav-mobile__l">
				<a href="category.html" class="yp-main__sideNav-mobile__a" aria-label="link name">Category</a>
			</li>

			<li class="yp-main__sideNav-mobile__l">
				<a href="#" class="yp-main__sideNav-mobile__a" aria-label="link name">Store</a>
			</li>

			<li class="yp-main__sideNav-mobile__l">
				<a href="about.html" class="yp-main__sideNav-mobile__a" aria-label="link name">About</a>
			</li>
		</ul>

		<div class="yp-main__mobileNav__social">
			<span class="yp-main__sideNav-mobile__socialItem">
				<a href="#" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</span>

			<span class="yp-main__sideNav-mobile__socialItem">
				<a href="#" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</span>

			<span class="yp-main__sideNav-mobile__socialItem">
				<a href="#" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</span>

			<span class="yp-main__sideNav-mobile__socialItem">
				<a href="#" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</span>
			<span class="yp-main__sideNav-mobile__socialItem">
				<a href="#" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</span>

		</div>
	</div>

	<aside id="1">
		<nav class="yp-main__sideNav">
			<div class="yp-main__sideNav-wrapper">
				<div class="yp-main__sideNav-scroll">
					<div class="yp-main__sideNav-brand">
						<img src="../assets/images/svg/paulajose_logo.svg" alt="business name logo" class="yp-main__brand-logo">
					</div>

					<div class="yp-main__sideNav-menu">
						<div class="yp-main__sideNav-menu__box">
							<ul class="yp-main__sideNav-u">
								<li class="yp-main__sideNav-l">
									<a href="../index.html" class="yp-main__sideNav-a" aria-label="link name">Home</a>
								</li>

								<li class="yp-main__sideNav-l">
									<a href="category.html" class="yp-main__sideNav-a" aria-label="link name">Category</a>
								</li>

								<li class="yp-main__sideNav-l">
									<a href="#" class="yp-main__sideNav-a" aria-label="link name">Store</a>
								</li>

								<li class="yp-main__sideNav-l">
									<a href="about.html" class="yp-main__sideNav-a" aria-label="link name">About</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="yp-main__sideNav-footer">
					<span>© Ajose 2018</span>
				</div>
			</div>
		</nav>
	</aside>

	<main id="2">
		<div class="yp-main__wrapper">
			<div class="container">

				<div class="row">
					<div class="col-12">

					</div>
				</div>
				<div class="row">

					<div class="col-lg-4 col-md-6 px-0">
						<div class="yp-productItem__store">
							<div class="yp-product__size">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="yp-position__relative">
										<a href="../views/details.html" class="yp-display-b" aria-label="link to title of product" style="text-decoration: none">

											<div class="yp-productItem__image__blur">
												<figure class="yp-productItem__imagePosition" style="background-color: rgba(255,255,255,0)">
													<div class="yp-position__relative" style="width: 100%; height: 100%;">
														<img src="../assets/images/Model-with-bag.jpg" role="img" aria-label="product title here"/>
													</div>
												</figure>
											</div>

											<div class="yp-productItem__linkWrapper" aria-label="link to title of product">
												<div style="margin-top: .3rem">
													<div role="presentation" class="yp-productItem__titleWrapper">
														<h4 class="yp-title__product">Nike shoe for big legs</h4>
													</div>
												</div>

												<div style="margin-top: .2rem">
													<div role="presentation">
														<span class="yp-price__product">N23,000</span>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 px-0">
						<div class="yp-productItem__store">
							<div class="yp-product__size">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="yp-position__relative">
										<a href="../views/details.html" class="yp-display-b" aria-label="link to title of product" style="text-decoration: none">

											<div class="yp-productItem__image__blur">
												<figure class="yp-productItem__imagePosition" style="background-color: rgba(255,255,255,0)">
													<div class="yp-position__relative" style="width: 100%; height: 100%;">
														<img src="../assets/images/Model-with-bag.jpg" role="img" aria-label="product title here"/>
													</div>
												</figure>
											</div>

											<div class="yp-productItem__linkWrapper" aria-label="link to title of product">
												<div style="margin-top: .3rem">
													<div role="presentation" class="yp-productItem__titleWrapper">
														<h4 class="yp-title__product">Nike shoe for big legs</h4>
													</div>
												</div>

												<div style="margin-top: .2rem">
													<div role="presentation">
														<span class="yp-price__product">N23,000</span>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 px-0">
						<div class="yp-productItem__store">
							<div class="yp-product__size">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="yp-position__relative">
										<a href="../views/details.html" class="yp-display-b" aria-label="link to title of product" style="text-decoration: none">

											<div class="yp-productItem__image__blur">
												<figure class="yp-productItem__imagePosition" style="background-color: rgba(255,255,255,0)">
													<div class="yp-position__relative" style="width: 100%; height: 100%;">
														<img src="../assets/images/Model-with-bag.jpg" role="img" aria-label="product title here"/>
													</div>
												</figure>
											</div>

											<div class="yp-productItem__linkWrapper" aria-label="link to title of product">
												<div style="margin-top: .3rem">
													<div role="presentation" class="yp-productItem__titleWrapper">
														<h4 class="yp-title__product">Nike shoe for big legs</h4>
													</div>
												</div>

												<div style="margin-top: .2rem">
													<div role="presentation">
														<span class="yp-price__product">N23,000</span>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 px-0">
						<div class="yp-productItem__store">
							<div class="yp-product__size">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="yp-position__relative">
										<a href="../views/details.html" class="yp-display-b" aria-label="link to title of product" style="text-decoration: none">

											<div class="yp-productItem__image__blur">
												<figure class="yp-productItem__imagePosition" style="background-color: rgba(255,255,255,0)">
													<div class="yp-position__relative" style="width: 100%; height: 100%;">
														<img src="../assets/images/Model-with-bag.jpg" role="img" aria-label="product title here"/>
													</div>
												</figure>
											</div>

											<div class="yp-productItem__linkWrapper" aria-label="link to title of product">
												<div style="margin-top: .3rem">
													<div role="presentation" class="yp-productItem__titleWrapper">
														<h4 class="yp-title__product">Nike shoe for big legs</h4>
													</div>
												</div>

												<div style="margin-top: .2rem">
													<div role="presentation">
														<span class="yp-price__product">N23,000</span>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 px-0">
						<div class="yp-productItem__store">
							<div class="yp-product__size">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="yp-position__relative">
										<a href="../views/details.html" class="yp-display-b" aria-label="link to title of product" style="text-decoration: none">

											<div class="yp-productItem__image__blur">
												<figure class="yp-productItem__imagePosition" style="background-color: rgba(255,255,255,0)">
													<div class="yp-position__relative" style="width: 100%; height: 100%;">
														<img src="../assets/images/Model-with-bag.jpg" role="img" aria-label="product title here"/>
													</div>
												</figure>
											</div>

											<div class="yp-productItem__linkWrapper" aria-label="link to title of product">
												<div style="margin-top: .3rem">
													<div role="presentation" class="yp-productItem__titleWrapper">
														<h4 class="yp-title__product">Nike shoe for big legs</h4>
													</div>
												</div>

												<div style="margin-top: .2rem">
													<div role="presentation">
														<span class="yp-price__product">N23,000</span>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 px-0">
						<div class="yp-productItem__store">
							<div class="yp-product__size">
								<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="name" content="Product name comes here">
									<meta itemprop="position" content="1">
									<meta itemprop="url" content="https://www.yipcart.com/productItem-Link">
									<div class="yp-position__relative">
										<a href="../views/details.html" class="yp-display-b" aria-label="link to title of product" style="text-decoration: none">

											<div class="yp-productItem__image__blur">
												<figure class="yp-productItem__imagePosition" style="background-color: rgba(255,255,255,0)">
													<div class="yp-position__relative" style="width: 100%; height: 100%;">
														<img src="../assets/images/Model-with-bag.jpg" role="img" aria-label="product title here"/>
													</div>
												</figure>
											</div>

											<div class="yp-productItem__linkWrapper" aria-label="link to title of product">
												<div style="margin-top: .3rem">
													<div role="presentation" class="yp-productItem__titleWrapper">
														<h4 class="yp-title__product">Nike shoe for big legs</h4>
													</div>
												</div>

												<div style="margin-top: .2rem">
													<div role="presentation">
														<span class="yp-price__product">N23,000</span>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>
</div>

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../assets/javascript/jquery-3.3.1.min.js"></script>
<script src="../assets/javascript/popper.min.js"></script>
<script src="../assets/javascript/bootstrap.min.js"></script>

<script>
    $(function() {

        $(".menu-link").click(function(e) {
            e.preventDefault();

            $(".yp-menu-overlay").toggleClass("open");
            $(".yp-menu").toggleClass("open");

        });

    });

    document.addEventListener("touchstart", function(){}, true);
</script>
</body>
</html>