* {
  -webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-family: $yp-font;
}

.yp-main__wrapper {
  @include media-breakpoint-up(md) {
    margin-left: 15rem;
    top: 2.8rem;
  }
  position: relative;
  transition: padding 0.15s;
  margin-left: 0;
  top: 1rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background: $white;
  min-height: calc(100vh - 3rem);
}

.yp-main__header {
  @include media-breakpoint-up(md) {
    margin-left: 15rem;
  }
  max-width: 100%;
  background-color: $white;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: ease all 0.3s;
  z-index: 5;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14);
  .yp-main__headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    button {
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
      &:focus {
        border: 0;
        outline: none;
      }
    }
  }
}

// product home
.yp-productItem__home {
  position: relative;
  .yp-product__size {
    @include media-breakpoint-up(md) {
      padding-left: .7rem;
      padding-right: .7rem;
    }
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    .yp-productItem__image__blur {
      position: relative;
      width: 100%;
      z-index: 1;
      .yp-productItem__imagePosition {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        img {
          @include media-breakpoint-up(lg) {
            height: 25rem;
          }
          height: 15rem;
          width: 100%;
          object-fit: cover;
        }
      }

    }
    .yp-productItem__linkWrapper {
      width: 100%;
      padding-top: .5rem;
      padding-bottom: .4rem;
      display: block;
      color: $yp-productTitleColor;
      text-decoration: none;

      .yp-productItem__titleWrapper {
        @include media-breakpoint-up(sm) {
          max-height: 3rem;
        }
        max-height: 36px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &:hover .yp-position__relative
    .yp-productItem__linkWrapper {
      color: lighten($yp-productTitleColor, 20%);
    }
  }
}

// product category
.yp-productItem__category {
  position: relative;
  .yp-product__size {
    @include media-breakpoint-up(md) {
      padding-left: .7rem;
      padding-right: .7rem;
    }
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    .yp-productItem__image__blur {
      position: relative;
      width: 100%;
      z-index: 1;
      .yp-productItem__imagePosition {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        img {
          @include media-breakpoint-up(lg) {
            height: 25rem;
          }
          height: 15rem;
          width: 100%;
          object-fit: cover;
        }
      }

    }
    .yp-productItem__linkWrapper {
      width: 100%;
      padding-top: .5rem;
      padding-bottom: .4rem;
      display: block;
      color: $yp-productTitleColor;
      text-decoration: none;

      .yp-productItem__titleWrapper {
        @include media-breakpoint-up(sm) {
          max-height: 3rem;
        }
        max-height: 36px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &:hover .yp-position__relative
    .yp-productItem__linkWrapper {
      color: lighten($yp-productTitleColor, 20%);
    }
  }
}

// product store
.yp-productItem__store {
  position: relative;
  .yp-product__size {
    @include media-breakpoint-up(md) {
      padding-left: .7rem;
      padding-right: .7rem;
    }
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    .yp-productItem__image__blur {
      position: relative;
      width: 100%;
      z-index: 1;
      .yp-productItem__imagePosition {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        img {
          @include media-breakpoint-up(lg) {
            height: 25rem;
          }
          height: 15rem;
          width: 100%;
          object-fit: cover;
        }
      }

    }
    .yp-productItem__linkWrapper {
      width: 100%;
      padding-top: .5rem;
      padding-bottom: .4rem;
      display: block;
      color: $yp-productTitleColor;
      text-decoration: none;

      .yp-productItem__titleWrapper {
        @include media-breakpoint-up(sm) {
          max-height: 3rem;
        }
        max-height: 36px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &:hover .yp-position__relative
    .yp-productItem__linkWrapper {
      color: lighten($yp-productTitleColor, 20%);
    }
  }
}

// product details
.yp-productItem__detailsLeft {
  position: relative;
  .yp-product__details {
    @include media-breakpoint-up(md) {
      padding-left: .7rem;
      padding-right: .7rem;
    }
    width: 100%;
    height: 100%;
    padding: 1rem .5rem;
    .yp-productItem__image__blur {
      position: relative;
      width: 100%;
      z-index: 1;
      .yp-productItem__imagePosition {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        img {
          @include media-breakpoint-up(lg) {
            height: 100%;
            max-height: 35rem;
          }
          height: 15rem;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.yp-productDetailsRight {
  @include media-breakpoint-up(lg) {
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
    padding-left: 2rem;
  }
  position: relative;
  margin-top: 1rem;
  padding: 0;
  .yp-title__productDetails {
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 2.1em;
    line-height: 1.5;
    margin-bottom: 0;
  }
  .yp-price__productDetails {
    color: #848484;
    overflow-wrap: break-word;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: normal;
    font-weight: 500;
    display: inline;
  }
  input[type=number] {
    padding: .5rem;
    outline: 0;
    border: 1px solid $gray-200;
    background: $gray-200;
    max-width: 4rem;
    &:focus {
      border: 1px solid $gray-400;
    }
  }
  .yp-addToCartButton_wrapper {
    position: relative;
    margin-top: 2rem;
    .yp-addToCartButton {
      background: #000000;
      border-radius: 0;
      padding: .5rem 1.5rem;
      span {
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .9em;
      }
    }
  }
  .yp-product__meta {
    position: relative;
    margin-top: 2rem;
    p {
      display: block;
      margin-bottom: 0;
    }
  }
}

// About merchant
.yp-aboutLeft {
  position: relative;
  .yp-product__details {
    @include media-breakpoint-up(md) {
      padding-left: .7rem;
      padding-right: .7rem;
    }
    width: 100%;
    height: 100%;
    padding: 1rem .5rem;
    .yp-productItem__image__blur {
      position: relative;
      width: 100%;
      z-index: 1;
      .yp-productItem__imagePosition {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        img {
          @include media-breakpoint-up(lg) {
            height: 100%;
            max-height: 25rem;
          }
          height: 15rem;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.yp-aboutParagraph {
  @include media-breakpoint-up(lg) {
    padding: 0 2rem;
  }
  position: relative;
  padding: 0 1rem;
}
.yp-aboutRight {
  @include media-breakpoint-up(lg) {
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
    padding-left: 2rem;
  }
  position: relative;
  margin-top: 1rem;
  padding: 0;
  .yp-aboutSection {
    position: relative;
    margin-top: 2rem;
    p {
      display: block;
      margin-bottom: 0;
      font-size: 1em;
    }
  }
}

// Cart page
.yp-cartLeft {
  position: relative;
  margin-top: 2rem;
  .yp-cartLeftWrapper {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid $gray-300;
    .yp-image {
      width: 100%;
      img {
        @include media-breakpoint-up(lg) {
          height: 100%;
          max-height: 15rem;
        }
        height: 7rem;
        width: 100%;
        object-fit: cover;
      }
    }
    .yp-cartItemDetails {
      position: relative;
      h4 {
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        font-stretch: normal;
        font-size: 1.1em;
        line-height: 1;
        letter-spacing: .02em;
        margin-bottom: .4rem;
      }
      .btn {
        padding: .5rem 0 0 0;
        color: $gray-600;
        background: transparent;
      }
    }
    .yp-cartItemSize {
      position: relative;
      input[type=number] {
        padding: .3rem;
        outline: 0;
        border: 1px solid $gray-200;
        background: $gray-200;
        max-width: 6rem;
        &:focus {
          border: 1px solid $gray-400;
        }
      }
    }
    .yp-cartItemPrice {
      @include media-breakpoint-up(lg) {
        text-align: right;
      }
      position: relative;
      text-align: left;
    }
  }
  .yp-cartLeftUser {
    position: relative;
    padding: 2rem 0;
    .yp-cartLeftUserForm {
      margin-bottom: 1rem;
      label {
        display: block;
      }
      .yp-cartLeftUserInput {
        padding: .5rem 1rem;
        outline: 0;
        border: 1px solid $gray-200;
        background: $gray-200;
        width: 100%;
        &:focus {
          border: 1px solid $gray-600;
        }
      }
    }
  }
}
.yp-cartRight {
  @include media-breakpoint-up(lg) {
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
    padding-left: 2rem;
  }
  position: relative;
  margin-top: 1rem;
  padding: 0;
  .yp-cartSummary {
    position: relative;
    margin-top: 2rem;
    p {
      display: block;
      margin-bottom: 0;
      font-size: 1em;
      font-weight: 600;
    }
  }
  .yp-cartCheckoutButton {
    position: relative;
    margin-top: 2rem;
    .yp-addToCartButton {
      background: #000000;
      border-radius: 0;
      padding: .5rem 1.5rem;
      width: 100%;
      span {
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .9em;
      }
    }
  }
}
