

@mixin yp-productItem__product ($productTitle) {
  .yp-product__size {
    @include media-breakpoint-up(md) {
      padding-left: .7rem;
      padding-right: .7rem;
    }
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    //margin-right: -24px;
    //margin-right: -24px;
    .yp-productItem__image__blur {
      position: relative;
      width: 100%;
      z-index: 1;
      .yp-productItem__imagePosition {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        img {
          @include media-breakpoint-up(lg) {
            height: 25rem;
          }
          height: 15rem;
          width: 100%;
          object-fit: cover;
        }
      }

    }
    .yp-productItem__linkWrapper {
      width: 100%;
      padding-top: .5rem;
      padding-bottom: .4rem;
      display: block;
      color: $yp-productTitleColor;
      text-decoration: none;

      .yp-productItem__titleWrapper {
        @include media-breakpoint-up(sm) {
          max-height: 3rem;
        }
        max-height: 36px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &:hover .yp-position__relative
    .yp-productItem__linkWrapper {
      color: lighten($yp-productTitleColor, 20%);
    }
  }
}