

@mixin yc-productItem__product ($productTitle) {
  .yc-product__size {
    @include media-breakpoint-up(md) {
      padding-left: .7rem;
      padding-right: .7rem;
    }
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    //margin-right: -24px;
    //margin-right: -24px;
    .yc-productItem__image__blur {
      contain: strict;
      position: relative;
      width: 100%;
      z-index: 0;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      overflow: hidden;
      .yc-productItem__imagePosition {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        .yc-productItem__image__main {
          position: absolute;
          animation-name: keyframe_18jn58a;
          animation-duration: 300ms;
          animation-timing-function: ease-out;
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }
      }
    }
    .yc-productItem__linkWrapper {
      width: 100%;
      padding-top: .5rem;
      padding-bottom: .4rem;
      display: block;
      color: $yc-productTitleColor;
      text-decoration: none;

      .yc-productItem__titleWrapper {
        @include media-breakpoint-up(sm) {
          max-height: 3rem;
        }
        max-height: 36px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &:hover .yc-position__relative
    .yc-productItem__linkWrapper {
      color: lighten($yc-productTitleColor, 20%);
    }
  }
}