

$yc-font: 'Avenir Next', sans-serif;

$yc-productTitle: normal normal normal normal 1.3em/19px $yc-font;

$yc-productTitleColor: rgb(72, 72, 72);

$yc-sideNavBG: #FBF9F4;

// side nav
$yc-sideNav__textColor: $black;

$yc-sideNav-Font: normal normal normal normal 1.3em/2rem $yc-font;




.yc-title__product {
  font: $yc-productTitle;

  //font-style: normal;
  //font-variant: normal;
  //font-weight: normal;
  //font-stretch: normal;
  //font-size: 13px;
  //line-height: 19px;
  //font-family: sans-serif;
}

.yc-price__product {
  color: #979CA9;
  overflow-wrap: break-word;
  font-size: 1.1em;
  line-height: 18px;
  letter-spacing: normal;
  font-weight: normal;
  display: inline;
  margin: 0;
}
