

$yp-font: 'Avenir Next', sans-serif;

//$yp-productTitle: normal normal normal normal 1.3em/19px $yp-font;

$yp-productTitleColor: rgb(72, 72, 72);

$yp-sideNavBG: #FBF9F4;

// side nav
$yp-sideNav__textColor: $black;

$yp-sideNav-Font: normal normal normal normal 1.3em/2rem $yp-font;




.yp-title__product {

  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-stretch: normal;
  font-size: 1.1em;
  line-height: 1;
  letter-spacing: .02em;
  margin-bottom: 0;
  text-transform: uppercase;
}

.yp-price__product {
  color: #848484;
  overflow-wrap: break-word;
  font-size: .9em;
  line-height: 1;
  letter-spacing: normal;
  font-weight: 500;
  display: inline;
  margin: 0;
}
